{% extends 'base.html' %}

{% block content %}
<h1>Gallery</h1>
<div class="main">
  <div class="gallery">
    {% for image_item in display_images %}
    <div class="gallery-content">
      <img src="{{ image_item.image.url }}" alt="">
      <div class="overlay">
        <button class="btn btn-transparent btn-sm" data-toggle="modal" data-target="#{{ image_item.id }}">
          <p>{{ image_item.image_name }}</p>
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="{{ image_item.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{ image_item.id }}">{{ image_item.image_name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img id="modal-image" src="{{ image_item.image.url }}" class="img-responsive" alt="">
              <p>{{ image_item.image_description }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% endfor %}
  </div>

</div>
{% endblock content %}